<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MeatCutter WatchKit App (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MeatCutter WatchKit App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MeatCutter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2442A402219FCC5D0061392F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2442A416219FCC5E0061392F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2442A421219FCC5E0061392F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2442A42A219FCC5E0061392F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
